<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex" />
	<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/admin/admin.css"/>
	<title>Admin Login</title>
</head>
<body>